.iniciarSesion {
    margin: 20px auto;
    width: 340px;
    padding: 30px 25px;
    background: #37495F;
    border: 1px solid #c4c4c4;
}
  
h1.IStitulo {
    margin: -28px -25px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align:center;
    background: #37495F;  
}
  
.input {
    width: 285px;
    height: 50px;
    margin-bottom: 25px;
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color:#6e8095;
    outline: none;
}
  
.ingresar {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #5499C7;
    border: 0;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
}
  
.contraseñaO{
    text-align:center;
    margin-bottom:0px;
}
  
.contraseñaO a{
    color:white;
    text-decoration:none;
    font-size:13px;
}
  
  
  